.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #00285a;
    position: relative;
    bottom: 0;
    width: 100vw;
}

@media (min-width: 800px){
    .footer{
        position: fixed;
        margin-top: 30px;
    }
}