body{
    margin: 0;
}

.header_search_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid lightgrey;
    padding: 0 7px 0 0
}

.header_logo{
    height: auto;
    width: 75px;
}

.header_nav{
    display: flex;
    gap: 10px;
    outline: 1px solid lightgrey;

    padding: 7px 7px 7px 7px;
}

.header_breadcrumb{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    
}