body{
    margin: 0;
}

.header_search_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid lightgrey;
    padding: 0 7px 0 0;
}

.header_logo{
    height: auto;
    width: 75px;
}

.header_nav{
    display: flex;
    gap: 10px;
    overflow: auto;
}


.MuiBreadcrumbs-ol{
    flex-wrap: nowrap;
    padding: 0 1em 0;
}


.header_nav_crumb{
    font-size: .875rem;
    color: rgb(146, 0, 0);
    white-space: nowrap;
    padding: 0.66em 0.15em;
    margin: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
